@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#root {
  font-family: 'Roboto', sans-serif;
  /* color */
  --primary: #1aa5b8; 
  --secondary: #d9ecf2;
  --tertiary: #94C8C4;
  --quaternary: #042f40;
  --background: rgb(217, 226, 235);
}
