@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#root {
  font-family: 'Roboto', sans-serif;
  /* color */
  --primary: #1aa5b8; 
  --secondary: #d9ecf2;
  --tertiary: #739ed6;
  --quaternary: #042f40;
  --quaternary-transparent:rgba(4, 47, 64,0.8);
  --background: #D9E2EB;
  --abc:#bebcbc;
}

body {
  overflow: auto;
  overflow-x:hidden ;
}

/* Tùy chỉnh scrollbar cho trình duyệt Webkit (Chrome, Safari, Opera) */
body::-webkit-scrollbar {
  width: 1px; /* Chiều rộng của scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0); /* Màu của phần thumb (thanh cuộn) */
  border-radius: 4px; /* Bo góc của thumb */
}
