@tailwind base;
@tailwind components;
@tailwind utilities;

.css-pr0fja.ant-modal .ant-modal-content {
    background-color: transparent !important;
    box-shadow: none !important;
  
    @media screen and (min-width: 768px) {
      background-color: rgba(4, 47, 64, 0.8) !important;
      border-radius: 60px !important;
    }
  }