.Header {
  .dropdown {
   z-index: 100;
    &:hover .dropdown_menu li {
      display: block;
    }
  }
  .dropdown_menu {
    overflow: hidden;
    border-radius: 10px;
    li {
      color: white;
      display: none;
      background-color: var(--quaternary);
      font-size: 16px;
      &:hover {
        background-color: #6ddcde;
      }
    }
  }
  .dropdown_menu-1{
  @for $num from 1 through 6{
     .dropdown_item-#{$num} {
       transform-origin: top center;
       animation: rotateX 300ms ($num * 60ms) ease-in-out forwards;}
  }
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
}
//antd custom
.css-dev-only-do-not-override-pr0fja.ant-modal .ant-modal-content{
  @media (min-width:768px){
    background-color: rgba(4, 47, 64,0.8); //Cannot use root variable, because Inspect to see this class is out of root space
    border-radius: 60px;
  }
  background-color: transparent;
  box-shadow: none;
}

@media (min-width:768px){
.Header {
  z-index: 10;
    .dropdown {
     display: flex;
     justify-content: center;
     align-items: center;
     perspective: 1000px;
     z-index: 10;
        &:hover .dropdown_menu li {
            display: block;
          }
    }
    .dropdown_menu {
      padding-top: 38px;
      overflow: hidden !important;
      position: absolute;
      top: 100%;
      left: -60px;
      perspective: 1000px;
      min-width: 200px;
      border-radius: 10px !important;
      clip-path: inset(0 round 10px);
      li {
        display: none;
        color: white;
        background-color: var(--quaternary-transparent);
        padding: 10px 20px;
        font-size: 16px;
        opacity: 0;
        &:hover {
          background-color: #6ddcde;
        }
      }
    @for $num from 1 through 6 {
      .dropdown_item-#{$num} {
        transform-origin: top center;
        animation: translateX 500ms ($num * 40ms) ease-in-out forwards;
      }
    }
  }
  
  @keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
  
    80% {
      transform: translateX(-5px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  }
}
// Ẩn scroll bar
.customScrollbar::-webkit-scrollbar {
  width: 0.5em;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide the scrollbar for Firefox */
/* Ẩn thanh cuộn cho tất cả các trình duyệt */
.customScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Ẩn thanh cuộn cho Chrome, Safari và Opera */
.customScrollbar::-webkit-scrollbar {
  display: none;
}
.cardanimate {
  display: none;
}
.exitanimate {
  display: none;
}
.adminanimate{
  display: none;
}
//Slide
.info:hover .cardstatic {
  display: none;
}

.info:hover .cardanimate {
  display: block;
}
.exit:hover .exitstatic {
  display: none;
}

.exit:hover .exitanimate {
  display: block;
}

.admin:hover .adminstatic {
  display: none;
}

.admin:hover .adminanimate {
  display: block;
}
