.css-dev-only-do-not-override-pr0fja.ant-modal.UserInfomation .ant-modal-content{
        background-color: white;
        border-radius: 10px !important  ;
        background-color: none;
        box-shadow: none;
      }
