.css-dev-only-do-not-override-pr0fja.ant-modal.UserInfomation .ant-modal-content{
        background-color: white;
        border-radius: 10px !important  ;
        background-color: none;
        box-shadow: none;
      }
      /* Hide the scrollbar for Firefox */
  /* Ẩn thanh cuộn cho tất cả các trình duyệt */
  .customScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Ẩn thanh cuộn cho Chrome, Safari và Opera */
  .customScrollbar::-webkit-scrollbar {
    display: none;
  }

