

/* overral */
.list::before {
    content: "";
    transform: translateY(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../../../public/icons8-tick.svg") no-repeat center;
    background-size: contain;
    margin-right: 5px;
  }
  
  